@{
    ViewData["Title"] = "Privacy policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This site contains personal information about the doctors and patients,<br>
    please be careful when dealing with it.
</p>
